@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Gothic&display=swap');


.signup{
    margin-left: 61px;
    border-radius: 5px;
}

.signin-h1{
    margin-left: 90px;
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 70px;
    color: #446FF2;
}
.signin-h2{
    margin-left: 150px;
    font-family: 'Zen Kurenaido', sans-serif;
    margin-bottom: 30px;
    margin-top: 10px;
}

.sign-up-p{
    margin-left: 120px;
}

.validation {
    font-size: 12px;
    margin-left: 75px;
    margin-bottom: 10px;
    color : rgb(243, 73, 73);
}

.close-icon {
    margin-left: 300px;
    margin-top: 20px;
    font-size: 25px;
    cursor: pointer;
}