@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.search_background{
    /* background-image: url('https://www.castlefineart.com/assets/img/resized/artist_hero/pco-artist-page-graphic4_2021-10-07T11-09-16.jpg'); */
    background-image: url('https://static.hubzum.zumst.com/hubzum/2017/02/28/12/315fd812504149178b8536c0e398f86c.jpg');
    /* background-image: url('https://i.pinimg.com/564x/0d/e8/ee/0de8eeb00a8971d29186a3bd20751e1c.jpg'); */
    /* background-image: url('https://source.unsplash.com/category/nature/1190x3600'); */

    display: block;
    background-repeat: no-repeat;
    background-size : cover;
    max-width: 100%;
    height:25rem;
    background-position: center;
    /* margin: auto; */
    justify-content: center;
	/* margin-top: 45px; */
}

.search_container {
    text-align: center;
    margin:0;
    /* padding: 0 ,50px; */
    display: flex;
    flex-direction: column;
  
}


.search_text{
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding:0.3rem;
    color:rgb(23, 2, 2);
    /* padding-top: 70px; */
     margin-top: 90px;
}

.search_input_center{
   /* position: relative; */
   display: block;
   text-align: center;
}

#search_input{
    /* width: 300px;
    height: inherit;
    padding: 20px;
    border: 1px solid rgb(2, 2, 2);
    border-radius: 15px;
    box-sizing: border-box;
    color: rgb(252, 252, 252);
    font-family: fontAwesome;
    font-size: 1.2rem;
    font-weight: 500;
    margin: 30px;
    background-color: rgb(244, 228, 228); */

    background: rgb(114, 11, 11);	
	background: linear-gradient(#333, rgb(29, 5, 5));	
	border: 1px solid #444;
	border-radius: 5px 0 0 5px;
	box-shadow: 0 2px 0 #000;
	color: #888;
	/* display: block;
	float: left; */
    font-family: fontAwesome;
	/* font-family: 'Cabin', helvetica, arial, sans-serif; */
	font-size: 1.5rem;
	font-weight: 400;
	height: 60px;
	margin: 3rem;
	padding: 0;
	text-shadow: 0 -1px 0 #000;
	width: 300px;

    justify-self: center;
}

#search_btn{
    color:rgb(0, 0, 0);
    border:none;
    border-radius: 5px;
    padding: 0 1.5rem;

    height:30px;
    font-size:1em;
    margin-top: 40px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
}





#search_input:focus {
	animation: glow 800ms ease-out infinite alternate;
	background: #222922;
	background: linear-gradient(#333933, #222922);
	border-color: rgb(213, 37, 6);
	box-shadow: 0 0 5px rgba(209, 4, 4, 0.2), inset 0 0 5px rgba(242, 242, 13, 0.1), 0 2px 0 #000;
	color: #efe;
	outline: none;
}

 #search_input:focus::-webkit-input-placeholder { 
	color: #efe;
} 

#search_input:focus:-moz-placeholder {
	color: #efe;
} 
.search_btn{
	background: #222;
	background: linear-gradient(#333, #222);
	box-sizing: border-box;
	border: 1px solid #444;
	border-left-color: #000;
	border-radius: 15px;
	box-shadow: 0 2px 0 #000;
	color: #fff;
	/* display: block;
	float: left; */
	font-family: 'Cabin', helvetica, arial, sans-serif;
	font-size: 1rem;
	font-weight: 400;
	height: 40px;
	/* line-height: 40px; */
	margin: 0;
	padding: 0px;
	position: relative;
	text-shadow: 0 -1px 0 #000;
	width: 150px;
}	

.search_btn:hover,
.search_btn:focus {
	background: #ffffff;
	/* background: linear-gradient(#393939, #292929); */
	color: rgb(6, 28, 97);
	outline: none;
}



@keyframes glow {
    0% {
		border-color: rgb(177, 38, 13);
		box-shadow: 0 0 5px rgba(221, 76, 9, 0.2), inset 0 0 5px rgba(8, 39, 163, 0.1), 0 5px 0 #000;
    }	
    100% {
		border-color: rgb(9, 107, 29);
		box-shadow: 0 0 20px rgba(16, 151, 182, 0.6), inset 0 0 10px rgba(69, 6, 171, 0.4), 0 5px 0 #000;
    }
}
