@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap');

.user_background{
    background: #fff;  /* fallback for old browsers */
    height: 100vh;
    padding:30px;
}

.head{
    margin-top: 150px;
    margin-left: 100px;
}

.mypage-text{
    margin-top: 100px;
    margin-left: 40px;
    font-family: 'Nanum Gothic', sans-serif;
}

.change-delete{
    display: grid;
    margin-top: 75px;
    grid-template-columns: 0.5fr 0.5fr;
    margin-left: 140px;
    width: 200px;
    font-size: 10px;
    font-weight: 300;
    cursor: pointer;
}

.nickname-change-message{
    text-align: center;
    margin-top: 50px;
    font-family: 'Noto Serif KR', serif;
}

.nickname-pencil{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 120px;
}

.mypage-nickname{
    font-weight: 300;
    font-family: 'Noto Serif KR', serif;
}

.pencil{
    margin-left: 30px;
    cursor: pointer;
}

.mypage-email{
    width: 260px;
    font-family: 'Noto Serif KR', serif;
}

.nickname-okay{
    font-size: 1px;
color: #ffffff;
background-color: #799AE0;
border-radius: 5px;
border: 0px;
height: 20px;
padding: 1px;
margin: 4px;
cursor: pointer;
width: 50px;
outline: none;
font-weight: 700;
margin-left:70px;

}
.nickname-cancle{
    font-size: 10px;
    color: #ffffff;
    background-color: #FFD6C7;
    border-radius: 5px;
    border: 0px;
    height: 20px;
    padding: 1px;
    margin: 4px;
    cursor: pointer;
    width: 50px;
    outline: none;
    font-weight: 700;
    margin-left:70px;
}

.password-cancle{
    font-size: 10px;
    color: #ffffff;
    background-color: #FFD6C7;
    border-radius: 5px;
    border: 0px;
    height: 20px;
    padding: 1px;
    margin: 4px;
    cursor: pointer;
    width: 50px;
    outline: none;
    font-weight: 700;
    margin-left:70px;
}

.password-okay{
    font-size: 1px;
color: #ffffff;
background-color: #799AE0;
border-radius: 5px;
border: 0px;
height: 20px;
padding: 1px;
margin: 4px;
cursor: pointer;
width: 50px;
outline: none;
font-weight: 700;
margin-left:70px;
}

.password-button-wrap{
    margin-top: 30px;
    margin-left: 230px;
}

.mypage-button-wrap{
    margin-top: 10px;
    margin-left: 240px;
}

/* &:hover {
    background-color: #a99fee;
   } */

.err-msg{
    text-align: center;
    font-size: 10px;
    font-weight: 500;
    color: rgb(243, 73, 73);
    margin-top: 20px;
}